body {
    font-family: 'Cairo', sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

th, td {
    border: 1px solid #0656d9;;
    padding: 8px;
    text-align: right;
}

th {
    background-color: #0866ff;
    color: white;
}


a {
    color: #0866ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
button.download {
    background-color: #0656d9;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Cairo" sans-serif;
    font-weight: bold;
}

button.download:hover {
    background-color: #044baf;
}
a.group-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
button.join-button {
    background-color: #0656d9;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Cairo" sans-serif;
    font-weight: bold;
}

button.join-button:hover {
    background-color: #044baf;
}